<div id="sec1" class="section about-section">
  <div class="about-container">
    <img [src]="aboutImage" loading="lazy" alt="{{ 'ABOUT.TITLE' | translate }}" class="about-image" />
    <div class="about-text">
      <h1 class="title-about">{{ 'ABOUT.TITLE' | translate }}</h1>

      <p>{{ 'ABOUT.ABOUT_TEXT' | translate }}</p>
      <p>{{ 'ABOUT.ADDITIONAL' | translate }}</p>

      <div class="skills-container">
        <div class="skills soft-skills">
          <h2>{{ 'ABOUT.SOFT_SKILLS_TITLE' | translate }}</h2>
          <ul>
            <li *ngFor="let skill of ('ABOUT.SOFT_SKILLS' | translate)">{{ skill }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
