<div id="sec0" class="section">
  <h1 class="title">{{ 'HERO.TITLE' | translate }}</h1>

  <div class="content-container">
    <div>
      <p>{{ 'HERO.DESCRIPTION' | translate }}</p>
      <br />
      <div class="availability-container">
        <div class="availability-item">
          <img src="assets/location-icon.png" alt="Ubicación" class="location-icon" />
          <span>{{ 'HERO.LOCATION' | translate }}</span>
        </div>
        <div class="availability-item">
          <img src="assets/green-dot.gif" alt="Disponible" class="availability-gif" />
          <span>{{ 'HERO.STATUS' | translate }}</span>
        </div>
      </div>
    </div>
    <img [src]="profileImage" loading="lazy" alt="Foto de perfil" id="profile" />
  </div>

  <app-social-links></app-social-links>
</div>
