<div id="sec2" class="section">
  <h1 class="title-work">{{ 'WORK.TITLE' | translate }}</h1>
  <p>{{ 'WORK.DESCRIPTION' | translate }}</p>

  <div class="portfolio-container">
    <div class="portfolio-item" *ngFor="let project of projects">
      <div class="portfolio-details">
        <a [href]="project.link" target="_blank" class="portfolio-title">
          {{ 'PROJECTS.' + project.key + '.TITLE' | translate }}
        </a>
        <p>
          {{ 'PROJECTS.' + project.key + '.DESCRIPTION' | translate }}
        </p>
        <br *ngIf="project.image" />
        <img *ngIf="project.image" [src]="project.image" loading="lazy" class="foto-proyecto" alt="{{ 'PROJECTS.' + project.key + '.TITLE' | translate }} Screenshot" />
      </div>
    </div>
  </div>
</div>
