<app-navbar></app-navbar>
<app-hero></app-hero>
<app-about></app-about>
<app-skills></app-skills>
<app-portfolio></app-portfolio>
<app-testimonials></app-testimonials>

<div id="sec4" class="section">
  <h1 data-lang="es" class="title-contact">Contáctame</h1>
  <h1 data-lang="en" class="title-contact" style="display: none">Contact</h1>
  <p data-lang="es">Si quieres hablar conmigo o seguirme aquí puedes:</p>
  <p data-lang="en" style="display: none">
    Here you can talk with me or follow me:
  </p>

  <!-- Correo centrado -->
  <div class="contact-email">
    <img src="assets/email.png" loading="lazy" alt="Email icon" id="email-icon" />
    <span>ycatalanoa01&#64;gmail.com</span>
  </div>

  <!-- Logos de redes sociales -->
  <div class="social-links">
    <a href="https://github.com/catanduYago" target="_blank">
      <img src="assets/github.png" loading="lazy" alt="GitHub icon" />
    </a>
    <a href="https://twitter.com/ycatalanoa" target="_blank">
      <img src="assets/x.png" loading="lazy" alt="Twitter icon" />
    </a>
    <a href="https://instagram.com/yago_candujar" target="_blank">
      <img src="assets/instagram.png" loading="lazy" alt="Instagram icon" />
    </a>
    <a href="https://www.linkedin.com/in/yago-catalano-and%C3%BAjar-24216828a/" target="_blank">
      <img src="assets/linkedin.png" loading="lazy" alt="LinkedIn icon" />
    </a>
  </div>
</div>
<app-footer></app-footer>